@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&display=swap');


.initialContent {
  /* border: 2px solid rgb(190, 174, 28); */
  width: 100%;
  margin: 0 auto;
}

.initialText {
  text-align: center;
  width: 100%;
  /* font-family: 'Baumans', cursive; */
  font-family: 'Just Me Again Down Here', cursive;
  font-size: 25px;
  background-color: rgb(149, 226, 139);
  /* opacity: 0.66; */
  color: black;
  padding: 20px;
}

.initialImg {
  /* border: 2px solid rgb(190, 74, 28); */
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.question {
  /* border: 2px solid rgb(129, 136, 129); */
  text-align: center;
  width: 100%;
  font-family: 'Baumans', cursive;
  /* font-family: 'Just Me Again Down Here', cursive; */
  font-size: 25px;
  padding: 20px;
}

.findOutButton {
  padding: 8px;
  border: 2px solid rgb(149, 226, 139);
  border-radius: 4px;
  background-color: rgb(149, 226, 139);
  /* opacity: 0.66; */
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}