@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kranky&display=swap');

.searchFoodForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(white, rgb(149, 226, 139));
  min-height: 380px;
  margin-top: 0;
}

.question {
  /* border: 2px solid red; */
  text-align: center;
  width: 95%;
  font-family: 'Kranky', cursive;
  margin: 0 auto;
  /* margin-top: 15px; */
  padding-bottom: 13px;
  font-size: 28px;
  color: rgb(83, 150, 74);
}

.foodDropdown {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
  border: 1px dashed rgb(83, 150, 74);
  padding-left: 20px;
  font-family: "Just Me Again Down Here", cursive;
  color: rgb(31, 53, 31);
  background-color: white;
}

.findOut {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  font-family: 'Frijole', cursive;
  border: 2px solid rgb(48, 94, 48);
  border-radius: 4px;
  background-color: rgb(48, 94, 48);
  color:  white;
  /* margin-bottom: 70px; */
}

/*Reset Safari User Agent Styles*/
* {-webkit-margin-before: 0px;}
* {-webkit-margin-end: 0px; }
* {-webkit-margin-after: 0px;}
* {-webkit-margin-start: 0px;}

* {-webkit-padding-before: 0px;}
* {-webkit-padding-end: 0px;}
* {-webkit-padding-after: 0px;}
* {-webkit-padding-start: 0px;}


* {-webkit-appearance: none;}
* {-moz-appearance: none;}