@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.productImgName {
  /* border: 2px solid green; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-top: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
}


.productImg {
  /* border: 2px solid red; */
  box-sizing: border-box;
  height: 200px;
  /* width: 50%; */
  /* margin-right: 20px; */

}

.productName {
  /* border: 2px solid blue; */
  box-sizing: border-box;
  font-size: 40px;
  color:  rgb(83, 150, 74);
  width: 75%;
  text-align: center;
  /* font-family: "Just Me Again Down Here", cursive; */
  font-family: 'Frijole', cursive;
  padding-top: 35px;
  /* Se colocar chart com comparacão dos tipos de produtos, tirar o padding-top e voltar a letra para: "Just Me Again Down Here" */
}

.impactDescriptionProduct {
  /* border: 2px solid yellow; */
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
  color: color;
  font-size: 15px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.data {
  font-family: 'Frijole', cursive;
  color :rgb(83, 150, 74);
}

.item {
 border-bottom: 1px dashed rgb(24, 139, 101);
 box-sizing: border-box;
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-bottom: 10px;

}

.itemIcon {
  border: 2px solid rgb(24, 139, 101);
  box-sizing: border-box;
  width: 15%;
  font-size: 40px;
  /* color: rgb(24, 139, 101); */
  color: white;
  background-color: rgb(31, 53, 31);
  border-radius: 100%;
  padding: 2px;
  margin-bottom: 4px;
}

.descriptionItem {
  box-sizing: border-box;
  width: 70%;
  margin-right: 10px;
  text-align: left;
}

.backButton {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  font-family: 'Frijole', cursive;
  border: 2px solid rgb(48, 94, 48);
  border-radius: 4px;
  background-color: rgb(48, 94, 48);
  color:  white;
  margin-bottom: 70px;
}



/* Media Query Mixins */
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 700px) {
  .itemIcon {
    width: 12%;
  }
}

@media screen and (min-width: 701px)  and (max-width: 900px) {
  .itemIcon {
    width: 10%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .itemIcon {
    width: 8%;
  }
}

@media screen and (min-width: 1201px) {
  .itemIcon {
    width: 6%;
  }
}