@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kranky&display=swap');

h1 {
  /* border: 2px solid red; */
  text-align: center;
  font-family: 'Frijole', cursive;
  font-size: 38px;
  color: rgb(31, 53, 31);
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 40px;
  margin-top: 0;
  background-image: linear-gradient(rgb(149, 226, 139), white);
}

h2 {
  /* border: 2px solid green; */
  text-align: center;
  width: 100%;
  font-family: 'Kranky', cursive;
  font-size: 18px;
  color: rgb(83, 150, 74);
  padding: 4px;
  margin-top: 5px;
  margin-top: 5px;
}