@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&display=swap');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kranky&display=swap');

.initialContent {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.initialText {
  /* border: 1px solid aquamarine; */
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: "Just Me Again Down Here", cursive;
  color: black;
  box-sizing: border-box;
  padding-bottom: 13px;
  /* background-image: linear-gradient(white, rgb(149, 226, 139)); */
  padding-left: 5px;
  padding-right: 5px;
  font-size: 30px;
}

.initialImg {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 600px;
}


/* Media Query Mixins */
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 700px) {
  .initialText {
    font-size: 20px;
  }

  .initialImg {
    height: 180px;
  }
}

@media screen and (min-width: 701px)  and (max-width: 900px) {
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
}

@media screen and (min-width: 1201px) {

}